@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

// color variables
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$ight-gray: hsl(0, 0%, 98%);

// --------------------------------- global styles ----------------------------
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  margin: 0;
  color: $dark-violet;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

h1,
h2 {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  padding-top: 3rem;
}

h1 {
  position: relative;
  &::before {
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 10rem;
  }
}

h2 {
  position: relative;
  &::before {
    content: "";
    background-color: $dark-violet;
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 10rem;
  }
}

p {
  opacity: 0.8;
}

.mg-top {
  margin-top: 5rem;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.1rem;
}

.flex {
  display: flex;
  align-items: center;
  & > div {
    flex: 1;
  }
}

.align-start {
  align-items: flex-start;
}

.btn {
  padding: 0.8rem 2.5rem;
  border: 2px solid white;
  background: transparent;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-reversed {
  color: $dark-violet;
  border: 2px solid $dark-violet;
}

// navigation styles
nav {
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    li {
      margin-left: 2rem;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $dark-grayish-violet;
      }
    }
  }
}

// header styles
header {
  background-color: $dark-violet;
  color: white;
  padding: 3rem 0 1rem 0;
  position: relative;
  margin-bottom: 12rem;

  &::after {
    content: "";
    background: url("./images/bg-pattern-intro-right-desktop.svg") no-repeat top
      right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  &::before {
    content: "";
    background: url("./images/bg-pattern-intro-left-desktop.svg") no-repeat
      bottom left;
    position: absolute;
    bottom: -50%;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .flex {
    .image {
      .intro-img {
        margin-bottom: -12rem;
      }
    }
  }
}

// find more section styles
.find-more {
  background-color: $dark-violet;
  color: white;
  padding: 5rem;
  position: relative;

  &::after {
    content: "";
    background: url("./images/bg-pattern-how-we-work-desktop.svg") no-repeat
      right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  h3 {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    max-width: 63%;
    line-height: 1;
    margin: 0;
  }
}
// footer styles
