@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

// color variables
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$light-gray: hsl(0, 0%, 98%);

// --------------------------------- global styles ----------------------------
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  margin: 0;
  color: $dark-violet;
}

.container {
  width: 1220px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.2rem;
}

.flex {
  display: flex;
  align-items: center;
  & > div {
    flex: 1;
  }
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
  letter-spacing: 0.5px;
}

h1,
h2 {
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  padding-top: 3rem;
}

h1 {
  position: relative;
  &::before {
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 12rem;
  }
}

h2 {
  position: relative;
  &::before {
    content: "";
    background-color: $dark-violet;
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 12rem;
  }
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
  opacity: 0.8;
}

.mg-top {
  margin-top: 5rem;
}

.align-start {
  align-items: flex-start;
}

.btn {
  padding: 0.8rem 2.5rem;
  border: 2px solid white;
  background: transparent;
  color: white;
  outline: none;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.1s ease-in all;

  &:hover {
    background-color: white;
    color: $very-dark-violet;
  }
}

.btn-reversed {
  color: $dark-violet;
  border: 2px solid $dark-violet;
  &:hover {
    background: $dark-violet;
    color: $light-gray;
  }
}

.border-b {
  border-bottom: 1px solid rgba($grayish-blue, 0.8);
  margin-bottom: 1.9rem;
}

// navigation styles
nav {
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    li {
      margin-left: 2rem;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $dark-grayish-violet;
        font-weight: 600;
        transition: 0.1s ease-in all;

        &:hover {
          color: $dark-violet;
        }
      }
    }
  }
}

// header styles
header {
  background-color: $dark-violet;
  color: white;
  padding: 3rem 0 1rem 0;
  position: relative;
  margin-bottom: 12rem;

  & * {
    z-index: 1;
  }

  &::after {
    content: "";
    background: url("./images/bg-pattern-intro-right-desktop.svg") no-repeat top
      right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    z-index: 2;
  }

  &::before {
    content: "";
    background: url("./images/bg-pattern-intro-left-desktop.svg") no-repeat
      bottom left;
    position: absolute;
    bottom: -50%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .flex {
    .image {
      .intro-img {
        margin-bottom: -10rem;
      }
    }
  }
}

// section different
.flex {
  div:not(:first-child) {
    margin-left: 7rem;
  }
}

// find more section styles
.find-more {
  background: url("./images/bg-pattern-how-we-work-desktop.svg") no-repeat right /
    50% 100%;
  background-color: $dark-violet;
  color: white;
  padding: 5rem;
  position: relative;
  margin: 7rem auto;

  h3 {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    max-width: 63%;
    line-height: 1;
    margin: 0;
  }
}

// footer styles
footer {
  background: url("./images/bg-pattern-footer-desktop.svg") no-repeat top left;
  background-color: $light-gray;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1.9rem 0;
  position: relative;

  h4 {
    color: $dark-grayish-violet;
  }

  .social {
    li {
      margin-left: 1.5rem;
      a {
        display: block;
        transition: 0.1s ease-in all;
        &:hover {
          transform: scale(1.08);
        }
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 0.8rem;

      a {
        text-decoration: none;
        color: $dark-violet;
        transition: 0.1s ease-in all;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
