@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  margin: 0;
  color: #2d2640;
}

.container {
  width: 1220px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
  letter-spacing: 0.5px;
}

h1,
h2 {
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  padding-top: 3rem;
}

h1 {
  position: relative;
}

h1::before {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 12rem;
}

h2 {
  position: relative;
}

h2::before {
  content: "";
  background-color: #2d2640;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 12rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
  opacity: 0.6;
}

.mg-top {
  margin-top: 5rem;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.btn {
  padding: 0.8rem 2.5rem;
  border: 2px solid white;
  background: transparent;
  color: white;
  outline: none;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in all;
  transition: 0.1s ease-in all;
}

.btn:hover {
  background-color: white;
  color: #2b272f;
}

.btn-reversed {
  color: #2d2640;
  border: 2px solid #2d2640;
}

.btn-reversed:hover {
  background: #2d2640;
  color: #fafafa;
}

.border-b {
  border-bottom: 1px solid rgba(149, 169, 198, 0.8);
  margin-bottom: 1.9rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-left: 2rem;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #837d87;
  font-weight: 600;
  -webkit-transition: 0.1s ease-in all;
  transition: 0.1s ease-in all;
}

nav ul li a:hover {
  color: #2d2640;
}

nav .hamburger {
  display: none;
}

header {
  background-color: #2d2640;
  color: white;
  padding: 3rem 0 1rem 0;
  position: relative;
  margin-bottom: 12rem;
}

header h1 {
  line-height: 1;
}

header * {
  z-index: 1;
}

header::after {
  content: "";
  background: url("./images/bg-pattern-intro-right-desktop.svg") no-repeat top right;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  z-index: 2;
}

header::before {
  content: "";
  background: url("./images/bg-pattern-intro-left-desktop.svg") no-repeat bottom left;
  position: absolute;
  bottom: -50%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

header .flex .image .intro-img {
  margin-bottom: -10rem;
}

.flex div:not(:first-child) {
  margin-left: 7rem;
}

.find-more {
  background: url("./images/bg-pattern-how-we-work-desktop.svg") no-repeat right/40% 100%;
  background-color: #2d2640;
  color: white;
  padding: 5rem;
  position: relative;
  margin: 7rem auto;
}

.find-more h3 {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  max-width: 63%;
  line-height: 1;
  margin: 0;
}

footer {
  background: url("./images/bg-pattern-footer-desktop.svg") no-repeat top left;
  background-color: #fafafa;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1.9rem 0;
  position: relative;
}

footer h4 {
  color: #837d87;
}

footer .social li {
  margin-left: 1.5rem;
}

footer .social li a {
  display: block;
  -webkit-transition: 0.1s ease-in all;
  transition: 0.1s ease-in all;
}

footer .social li a:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 0.8rem;
}

footer ul li a {
  text-decoration: none;
  color: #2d2640;
  -webkit-transition: 0.1s ease-in all;
  transition: 0.1s ease-in all;
}

footer ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 375px) {
  body {
    text-align: center;
  }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn {
    display: inline-block;
    margin-top: 1rem;
  }
  h1,
  h2 {
    font-size: 3rem;
  }
  h1::before {
    width: 0rem;
    display: none;
  }
  h2 {
    position: relative;
  }
  h2::before {
    content: "";
    background-color: #2d2640;
    position: absolute;
    top: 0;
    left: 25%;
    height: 1px;
    width: 12rem;
  }
  h3 {
    font-size: 1.7rem;
    letter-spacing: 1px;
    opacity: 0.9;
  }
  .mg-top {
    margin-top: 3rem;
  }
  .align-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  nav {
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    background-color: white;
  }
  nav .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav .logo {
    text-align: left;
  }
  nav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 0;
    outline: none;
    cursor: pointer;
    background: transparent;
  }
  nav .hamburger::focus {
    outline: none;
  }
  nav .hamburger .close {
    display: none;
  }
  nav .hamburger.show .open {
    display: none;
  }
  nav .hamburger.show .close {
    display: block;
  }
  nav #menu .btn-reversed {
    border-color: white;
    color: white;
    width: 85%;
    padding: 1.3rem;
  }
  nav #menu .btn-reversed:hover {
    background-color: white;
    color: #2b272f;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    margin: 2rem 0;
  }
  nav ul li a {
    color: white;
    font-size: 1.5rem;
  }
  nav ul li a:hover {
    color: #837d87;
  }
  nav ul.show {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 100;
    top: 6.6rem;
    left: 0;
    margin: 0;
    padding-top: 2rem;
    background: url("./images/bg-pattern-mobile-nav.svg") no-repeat bottom/100% 40%;
    background-color: #2b272f;
  }
  header {
    background-color: #2d2640;
    color: white;
    padding: 8rem 0 1rem 0;
    position: relative;
    margin-bottom: 3rem;
  }
  header * {
    z-index: 1;
  }
  header::after {
    content: "";
    background: url("./images/bg-pattern-intro-right-mobile.svg") no-repeat bottom right;
    position: absolute;
    top: 25%;
    right: 0;
    height: 100%;
    width: 50%;
    z-index: 2;
  }
  header::before {
    content: "";
    background: url("./images/bg-pattern-intro-left-mobile.svg") no-repeat top left;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 46%;
    width: 50%;
    z-index: 0;
  }
  header .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  header .flex .image .intro-img {
    margin-bottom: 0rem;
    margin: -3.2rem -1.2rem 0;
    max-width: calc(100% + 2.4rem);
  }
  .flex div:not(:first-child) {
    margin-left: 0rem;
  }
  .flex .feature p {
    opacity: 0.5;
    color: #2d2640;
  }
  .find-more {
    background: url("./images/bg-pattern-how-we-work-mobile.svg") no-repeat right/47% 100%;
    background-color: #2d2640;
    color: white;
    padding: 5rem 1rem;
    margin: 8rem auto;
  }
  .find-more h3 {
    font-size: 2.8rem;
    max-width: 100%;
    margin-bottom: 2rem;
  }
  footer {
    background: url("./images/bg-pattern-footer-mobile.svg") no-repeat top left;
    background-color: #fafafa;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1.9rem 0;
    position: relative;
  }
  footer .footer-logo {
    margin-top: 3rem;
  }
  footer .flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer h4 {
    color: #837d87;
  }
  footer .social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
  }
  footer .social li {
    margin-left: 0;
  }
  footer .social li:not(:first-child) {
    margin-left: 1.2rem;
  }
  footer li {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=style.css.map */